.product-visualization--card {
    display: grid;
    grid-template-columns: 4fr 3fr;
    width: 75%;
    max-width: 1200px;
    height: 620px;
    border: 1px solid rgb(39, 39, 41);
    border-radius: 28px;
    &__info {
        padding: 25px;
    }
}

.product-info--price {
    &__card {
        width: 80%;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 20px 20px 20px 42px;
        border: 1px solid gray;
        border-radius: 12px;
        &--button {
            background-color: rgba(19, 46, 83, 0.8);
            color: white;
            cursor: pointer;
            padding: 12px 40px;
        }
    }
}
